language: node_js
node_js:
  - "6.1"
notifications:
  email:
    on_success: never
    on_failure: always
scripts:
  - npm run build
  - npm run lint
  - npm test
after_success:
  - npm run coveralls
